#!/usr/bin/env bash

export CFG_SSH=false       # Enable SSH key decryption?
export CFG_CLOUD=false     # Enable installing of cloud stuff?

export CFG_GUI=false       # Enable GUI app installs and configuration?
export CFG_VM=false        # Are we running inside a VM?
export CFG_GROUPWARE=false # Install Slack, Zoom, Webex, etc

# Language configuration
export CFG_LANG_NODEJS=true 
export CFG_LANG_GOLANG=true
export CFG_LANG_RUBY=true
export CFG_LANG_JAVA=true
export CFG_LANG_PYTHON=true
export CFG_LANG_CPP=false
export CFG_LANG_RUST=false

# Conda?
export CFG_CONDA=false

# Install IntelliJ and CLion?
export CFG_JETBRAINS=false

# Crypto password for SSH keys and sensitive info
export CRYPTO_PW=""
